.radio {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: black;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid black;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.radio::before {
    content: "";
    width: 0.70em;
    height: 0.70em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em black;

}

.radio:checked::before {
    transform: scale(1);

}

.label{
    margin-top: 1em;

}

.options {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 100px;
}
